parameters:
	level: 5
	paths:
		- tribe-embed.php
		- src/
	excludePaths:
		- vendor
	bootstrapFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
		- vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
	tmpDir: .phpstan-cache/
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- '#^Constant TRIBE_MP_PATH not found.$#'
		- '#^Constant TRIBE_MP_URL not found.$#'
		- '#^Constant TRIBE_MP_VERSION not found.$#'
