:root {
	--tribe-play-button-size: 80px;
	--tribe-play-button-background-color: #fff;
	--tribe-play-button-opacity: 1;
	--tribe-play-button-opacity--hover: 0.8;
	--tribe-play-button-transition: all 0.2s linear;
}
