:root {

	/* Button Size */
	--tribe-play-button-size: 75px;
	--tribe-play-button-size--mobile: 45px;

	/* Button Color */
	--tribe-play-button-background-color: #fff;
	--tribe-play-button-opacity: 1;
	--tribe-play-button-opacity--hover: 0.8;

	/* Button Transition */
	--tribe-play-button-transition: all 0.2s linear;

	/* Button Icon */
	--tribe-play-button-icon-width: 30px;
	--tribe-play-button-icon-width--mobile: 18px;
	--tribe-play-button-icon-height: 33px;
	--tribe-play-button-icon-height--mobile: 20px;
	--tribe-play-button-icon-offset: 4px;
	--tribe-play-button-icon-offset--mobile: 2px;
	--tribe-play-button-icon-color: #000;
}
